@import "../../../scss/index.scss";

.user-not-followeds {
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  &__user {
    margin-top: 1.3em;
    color: $font-dark;

    img {
      margin-right: 1em !important;
    }
  }
}
